<% if @task %>
<div class="card w-75 m-auto">
    <div class="card-body container">
        <div class="row">
            <div class="col">
                <div class="card-text"><b><u>Title: </u></b></div>
                <div class="card-text"><p><%= @task.title %></p></div>
            </div>

            <div class="col">
                <div class="card-text"><b><u>Description: </u></b></div>
                <div class="card-text" title="<%= @task.description %>"><p><%= @task.description[0..40] %></p></div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card-text"><b><u>Due Date: </u></b></div>
                <div class="card-text"><p><%= @task.due_date %></p></div>
            </div>

            <div class="col">
                <%= form_with method: :get do |form| %>
                    <%= form.label :user_id, class: "font-weight-bold text-underlined" %>
                        <% if @assign_task_to_user_id %>
                            This task is already assigned to
                        <% else %>
                            You can Assign Task from here
                        <% end %>
                  
                    <%= select_tag(:user_id, options_for_select(@users,@assign_task_to_user_id), class: "form-select w-75 my-2") %>
                    <%= form.submit "Assign Task", class: "btn btn-success my-3" %>
                <% end %>
            </div>

        
        </div>

        <div class="row my-2">
            <div class="col">
                <%= form_with method: :get do |form| %>
                    <%= form.label :status, "You can change status from here", class: "font-weight-bold text-underlined" %>
                    <%= select_tag(:status, options_for_select([["Completed","Completed"], ["In Progress","In Progress"]],selected: @task.status), class: "form-select w-25 my-2") %>
                    <%= form.submit "Change Status", class:"btn btn-success my-3" %>
                <% end %>
            </div>

        </div>

        <div class="row my-4">
            <div class="col">
                <%= link_to "Edit", edit_task_path(@task), class: "btn btn-sm btn-success" %>
                <%= link_to "Delete", task_path(@task), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to delete?"
                  }, class: "btn btn-sm btn-danger" %>
                <%= link_to "Back", root_path, class: "btn btn-outline-success btn-sm" %>
            </div>
        </div>
    </div>
</div>
<% end %>
    
