
<nav class="navbar navbar-expand-lg  p-3 mb-4 bg-success">
  <%= link_to "Task App", root_path , class:"navbar-brand text-white" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <li class="nav-item"> 
          <%= link_to "Created Task", root_path, class:"nav-link text-white" %>
        </li>

        <li class="nav-item">
          <%= link_to "Assigned Task", assign_user_tables_path, class: "nav-link text-white" %>
        </li>


        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete, confirm: "Are you sure you want to sign out!" }, class:"nav-link text-white" %>
      </li>

      <% else %>
      <li class="nav-item">
        <%= link_to "Sign In", new_user_session_path, class: "nav-link text-white" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign In", new_user_session_path, class: "nav-link text-white" %>
      </li>


      <% end %>
</nav>
